

@{
    ViewBag.Title = "Home Page";

    ViewBag.Title = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";


}





<div class="container">

    <div class="table table-striped">
        <div class="row">
            <div class="col">
                <h5>              </h5>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:center">
                <h1>KING DEE WEB</h1>
            </div>
        </div>

        <p>
            <a href="~/Home/Proizvodstvo" class="btn btn-block btn-success glyphicon glyphicon-modal-window">@Resources.Resource.Proizvodstvo</a>
        </p>

        <p>
            <a href="~/Home/SkladskoiUchet" class="btn btn-block btn-success glyphicon glyphicon-shopping-cart">@Resources.Resource.SkladskoiUchet</a>
        </p>

        <p>
            <a href="~/Home/Login" class="btn btn-block btn-success glyphicon glyphicon-lock">@Resources.Resource.SmenitPolzovatelya</a>
        </p>




    </div>

</div>








