
<div id="Menu">
    @Html.Action("AddBigQRViewMenu")
</div>
<div id="Loading" hidden>
    <center>
        <img src="~/Content/Icons/Loading.gif" width="350px" height="200px" />
    </center>

</div>
<div id="Sobrano">
    @Html.Action("AddBigQRViewTable")
</div>





