

@{


}



<table width="100%">
    <tr width="100%">
        <td colspan="2">
            <a href="/POOrderEntries/StatusWORK" class="btn btn-default btn-block">@Resources.Resource.OstatkiNomenklaturi </a>
        </td>
    </tr>
    <tr>
        <td width="80%">
            <input placeholder="@Resources.Resource.VveditePartNumber" id="NPartNumber" onchange="LoadNomenklaturs()" class="btn btn-warning btn-block"/>
        </td>
        <td width="20%">
            <button onclick="LoadNomenklaturs()" class="btn btn-success btn-block">Ok</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="/Home/Index" class="btn btn-default btn-block">@Resources.Resource.VGlavnoeMenu &raquo;</a>
        </td>
    </tr>

</table>


<script>
    //скрипт для обработки выбора года чтоб выводить дома по году и месяцу
    function LoadNomenklaturs() {
        var Num = $('#NPartNumber').val().toString();
      
        var URL = '@Url.Action("StatusWorkTable", "POOrderEntries")';
        URL = URL + '?ItemNumber=' + Num;
      //  alert(URL);
        $("#NTable").load(URL);


                           //идем в комплит воркс контроллер и там действие поиск по жэу отправляем выбранное значение в селекте, получаем дату список всех домов по жэу из БД перекинутых в лист стринг

                            // alert("PING!");

                        }
</script>